fastapi
uvicorn
torch
numpy<2
Pillow
diffusers
transformers
accelerate
rembg
onnxruntime
opencv-python-headless<4.10
ipywidgets
pyngrok
pyyaml
omegaconf==2.3.0
einops==0.7.0
trimesh
git+https://github.com/tatsy/torchmcubes.git
shap-e
