fastapi
uvicorn
torch
numpy==1.26.4
llvmlite==0.43.0
numba==0.60.0
Pillow
diffusers
transformers==4.35.0
accelerate
rembg
onnxruntime
opencv-python-headless<4.10
ipywidgets
pyngrok
pyyaml
omegaconf==2.3.0
einops==0.7.0
trimesh
xatlas
moderngl
fast-simplification
git+https://github.com/tatsy/torchmcubes.git
